footer {
  height: 56px;
  min-height: 56px;
  background: rgba(155, 64, 28, 0.4);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
