@import "tailwindcss";
@import "flowbite/src/themes/default.css";
@import "../../node_modules/flowbite-typography/dist/typography.css";

@plugin "flowbite/plugin";

@source "../../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));


/* You can define your color here https://www.tints.dev */
@theme {
--color-primary-50: #f3f3f5;
  --color-primary-100: #e5e5e8;
  --color-primary-200: #cbcbd2;
  --color-primary-300: #b2b2bc;
  --color-primary-400: #9b9ba8;
  --color-primary-500: #808090;
  --color-primary-600: #646477;
  --color-primary-700: #4a4a5d;
  --color-primary-800: #31313f;
  --color-primary-900: #1d1d26;
  --color-primary-950: #101017;

  --font-sans:
    "Roboto Mono", ui-monospace, "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-body:
    "Roboto Mono", ui-monospace, "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-mono:
    "Roboto Mono", ui-monospace, "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
:root {
  --primary-50: theme(--color-primary-50);
  --primary-100: theme(--color-primary-100);
  --primary-200: theme(--color-primary-200);

  --primary-800: theme(--color-primary-800);
  --primary-900: theme(--color-primary-900);
  --primary-950: theme(--color-primary-950);
}
:root {
  --app-bg-gradient: linear-gradient(
    135deg,
    var(--primary-50),
    var(--primary-100),
    var(--primary-200)
  );
}

.dark {
  --app-bg-gradient: linear-gradient(
    135deg,
    var(--primary-950),
    var(--primary-900),
    var(--primary-800)
  );
}


.app-bg {
  background-image: var(--app-bg-gradient);
  background-attachment: fixed;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}

code,
pre {
  font-family: var(--font-mono);
}

html {
  overflow-y: scroll;
}


