@import "tailwindcss";
@import "flowbite/src/themes/default.css";
@import "../../node_modules/flowbite-typography/dist/typography.css";

@plugin "flowbite/plugin";

@source "../../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));

/* You can define your color here https://www.tints.dev */
@theme {
<<<<<<< HEAD
  --color-primary-50: #f2faef;
  --color-primary-100: #e5f6e0;
  --color-primary-200: #c7ebbc;
  --color-primary-300: #ade19d;
  --color-primary-400: #90d77a;
  --color-primary-500: #60a5fa;
  --color-primary-600: #3b82f6;
  --color-primary-700: #2563eb;
  --color-primary-800: #2a5a1b;
  --color-primary-900: #162f0e;
  --color-primary-950: #0b1707;
=======
  --color-primary-50: #f3effd;
  --color-primary-100: #e9e1fb;
  --color-primary-200: #d5c4f8;
  --color-primary-300: #c1a6f4;
  --color-primary-400: #ae86f0;
  --color-primary-500: #9a5feb;
  --color-primary-600: #8533dd;
  --color-primary-700: #6625ab;
  --color-primary-800: #461778;
  --color-primary-900: #2a0b4c;
  --color-primary-950: #1a0532;
>>>>>>> f3d4a31bca3df3d510ca05ec83afd4ce27ea8b44

  --font-sans:
    "Roboto Mono", ui-monospace, "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-body:
    "Roboto Mono", ui-monospace, "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-mono:
    "Roboto Mono", ui-monospace, "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Apply font variables */
body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
}

code,
pre {
  font-family: var(--font-mono);
}
