/* ===== NAVBAR ROOT ===== */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 56px; /* <<< TU ZMIENIASZ WYSOKOŚĆ */
  min-height: 56px;
  background: rgba(155, 125, 28, 0.4); /* przezroczysty */
  backdrop-filter: blur(8px);    /* glass effect */
}

/* ===== CONTAINER ===== */
.nav-container {
  max-width: 1200px; /* match .container in global.css */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ===== LOGO ===== */
.logo {
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
}

/* ===== LINKS ===== */
.nav-links {
  display: flex;
  font-size: 1.2rem;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  /* font-weight: bold; */
  /* text-transform: uppercase; */
  color: #ffffff;
}

.nav-links a:hover {
  text-decoration: underline;
  font-size: 1.2rem;
}

/* ===== BURGER ===== */
.burger {
  display: none;
  background: none;
  border: none;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 56px; /* MUSI = wysokość navbaru */
    left: 0;
    width: 100%;

    flex-direction: column;
    background: rgba(73, 73, 72, 0.9);
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    padding: 1rem;
    text-align: center;
  }
}
