---
import BaseLayoutNew from "../layouts/BaseLayoutNew.astro";
import { Picture } from 'astro:assets';
import SamuraiImage from '../assets/images/samurai_without_weapon.jpg'; // Image is 1600x900
import SamuraiDarkImage from '../assets/images/samurai_without_weapon_dark.jpg';
// import CarouselUniversal from "../components/Carousel_Universal.astro";
---

<BaseLayoutNew
  title="About Me"
  description="Tworzenie stron internetowych Jelcz-Laskowice, Strzelin, Wrocław"
>
  <section
    aria-labelledby="about-heading"
    class="relative mx-auto mt-12 max-w-4xl px-4"
  >
    <h1
      id="about-heading"
      class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white"
    >
      About Me
    </h1>

    <div class="space-y-3 text-left text-gray-700 dark:text-gray-300">
      <p>Not so serious!</p>
      <!-- <Picture src={SamuraiImage} formats={['avif', 'webp']} alt="Samurai without weapon" /> -->
      <Picture
  src={SamuraiImage}
  formats={['avif', 'webp']}
  alt="Samurai without weapon"
  class="block dark:hidden"
/>

<Picture
  src={SamuraiDarkImage}
  formats={['avif', 'webp']}
  alt="Samurai without weapon"
  class="hidden dark:block"
/>
    </div>

    <div
      class="mt-12 flex flex-col items-center gap-10 md:flex-row md:justify-center"
    >
      <!-- <CarouselUniversal /> -->
    </div>
  </section>
</BaseLayoutNew>
