---
import BaseLayout from "../layouts/BaseLayout.astro";
import PricingCalculator from '../components/PricingCalculator.jsx';
---

<BaseLayout title="About Me" description="Tworzenie stron internetowych Jelcz-Laskowice, Strzelin, Wrocław">
  <h1 class="text-4xl font-semibold mb-9">About Me</h1>
    <p>
      Sample implementation of React Island in Astro
    </p>

    <p>XXXXXXXX</p>
    <div class="text-center relative w-64 mx-auto mt-12">      
      <h3 class="font-bold mb-4 text-gray-800">Pricing Calculator (Dynamic Island)</h3>
      <PricingCalculator client:load />
    </div>
  </div>
</BaseLayout>
