---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Me" description="Learn more about me and my journey into web development.">
  <h1 class="text-4xl font-semibold mb-9">About Me</h1>
    <p>
      Content will be filled soon
    </p>

    <p>Thank you for visiting!</p>
  </div>
</BaseLayout>
