---
import BaseLayout from "../layouts/BaseLayout.astro";
import PricingCalculator from '../components/PricingCalculator.jsx';
---

<BaseLayout title="About Me" description="Learn more about me and my journey into web development.">
  <h1 class="text-4xl font-semibold mb-9">About Me</h1>
    <p>
      Content will be filled soon
    </p>

    <p>Thank you for visiting!</p>
    <div class="text-center relative w-64 mx-auto mt-12">      
      <h3 class="font-bold mb-4 text-gray-800">Pricing Calculator (Dynamic Island)</h3>
      <PricingCalculator client:load />
    </div>
  </div>
</BaseLayout>
