---
import BaseLayout from "../layouts/BaseLayout.astro";
const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <div style="text-align: center; margin-top: 3rem;">
    <h1>This is content of Home Page</h1>
    <h2>Describe yourself.</h2>
    <h2>
      Mam na imię Tomek i jestem początkującym programistą. Uczę się tworzenia
      stron internetowych za pomocą Astro. Lubię wyzwania i ciągłe doskonalenie
      swoich umiejętności. W wolnym czasie interesuję się fotografią i
      podróżami. Moim celem jest tworzenie nowoczesnych i responsywnych stron
      internetowych, które będą atrakcyjne dla użytkowników.
    </h2>
  </div>
</BaseLayout>
