---
import BaseLayout from "../layouts/BaseLayout.astro";
const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <div style="text-align: center; margin-top: 3rem;">
    <h1>This is content of Home Page</h1>
    <h2>Describe yourself.</h2>
    <h2>About me.</h2>
  </div>
</BaseLayout>
