---
import { SHOW_SOCIAL_LINKS, POST_ON_HOME_PAGE } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/post/PostCard.astro";
import { getCollection } from "astro:content";
import SocialLinks from "../components/SocialLinks.astro";
import { getPublishedPosts, sortPostsByDate } from "../utils/filterts";
import FeaturedCategory from "../components/FeaturedCategory.astro";

import BaseLayoutNew from "../layouts/BaseLayoutNew.astro";

const allPosts = await getCollection("blog");
const published = getPublishedPosts(allPosts);
const sortedByDate = sortPostsByDate(published);
const posts = sortedByDate.slice(0, POST_ON_HOME_PAGE);
---

<BaseLayoutNew
  title="Home page"
  description="Tworzenie stron internetowych Jelcz-Laskowice, Strzelin, Wrocław - Profesjonalne usługi tworzenia stron www i aplikacji webowych."
>
  <section aria-labelledby="home-heading"
  class="relative mx-auto mt-12 max-w-4xl px-4">

    <div class="py-12 max-w-4xl">
      <h1
        id="home-heading"
        class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white"
      >
        Thanks for visiting my portfolio!
      </h1>

      <p class="text-lg md:text-xl font-normal text-gray-600 dark:text-gray-300">
        Here i want to document my jurney into web development. 
        I will share my projects, experiences and knowledge gained along the way.
        Feel free to explore and reach out if you have any questions or opportunities!
      </p>
    </div>
  </section>
</BaseLayoutNew>
