---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/posts.css";

import { getCollection, render, type CollectionEntry } from "astro:content";

const projects: CollectionEntry<"projects">[] = await getCollection("projects");

// sortowanie po dacie
projects.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

const projectsWithContent = await Promise.all(
  projects.map(async (project) => {
    const { Content } = await render(project);
    return { ...project, Content };
  })
);
---

<BaseLayout pageTitle="Projects">
  <div class="posts">
    {
      projectsWithContent.map((project) => (
        <article class="post">
          <h2>{project.data.title}</h2>
          <h3>{project.data.description}</h3>

          <div class="content">
            <project.Content />
          </div>

          <p class="date">{project.data.pubDate.toISOString().split("T")[0]}</p>

          <p>{project.data.author}</p>
        </article>
      ))
    }
  </div>
</BaseLayout>
