---
// import { SITE_TITLE, SITE_URL } from "../consts";
const today = new Date();
---

<footer>
  <div class="container">
    <p>&copy; {today.getFullYear()} - <a href="#">McKenzi84</a></p>
  </div>
</footer>
