---
interface Props {
  currentPage: number;
  totalPages: number;
  path: string;
}

const { currentPage, totalPages, path } = Astro.props;

const rawBaseUrl = import.meta.env.BASE_URL || '/';
const baseUrl = rawBaseUrl === '/' ? '' : rawBaseUrl.replace(/\/$/, '');
const getHref = (path: string) => `${baseUrl}${path.startsWith('/') ? path : `/${path}`}`;
---

<nav class="flex justify-center gap-4 mt-12">
  {
    currentPage > 1 && (
      <a
        href={getHref(`${path}${currentPage - 1 > 1 ? currentPage - 1 : ""}`)}
        class="px-4 py-2 bg-gray-100 dark:bg-gray-600 rounded hover:bg-gray-200 dark:hover:bg-primary-500"
      >
        Previous
      </a>
    )
  }
  {
    currentPage < totalPages && (
      <a
        href={getHref(`${path}${currentPage + 1}`)}
        class="px-4 py-2 bg-gray-100 dark:bg-gray-600 rounded hover:bg-gray-200 dark:hover:bg-primary-500"
      >
        Next
      </a>
    )
  }
</nav>
